body{
    margin: 0;
    padding: 0;
    background-image: url(pexels-scott-webb-3255761.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.form{
    height: 345px;
    width: 315px;
    border-radius: 23px;
    background-color: #C2D0DE;
}
h2{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 20px 0px;
}
.username{
    text-align: center;
    margin: 35px 0px 10px 0px;
}
.username:active{
    border: 0px solid black;
}
.password{
    text-align: center;
    margin: 15px 0px 20px 0px;
}
#username{
    border: none;
    font-family: 'Dosis', sans-serif;
    background-color: #C2D0DE;
    border-bottom: 1px solid #012a53;
    width: 170px;
}
#password{
    border: none;
    font-family: 'Dosis', sans-serif;
    background-color: #C2D0DE;
    border-bottom: 1px solid #012a53;
    width: 170px;
}
.button{
    text-align: center;    
}
#button{
    border: none;
    font-family: 'Dosis', sans-serif;
    background-color: #04A4C3;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    margin: 20px 0px 0px 0px;
    padding: 5px 45px;
}
h5{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin:25px 0px 0px 0px;
}
#signup{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin:5px 0px;
}
a{
    text-decoration: none;
    color: black;
}
